
#home {
  background: linear-gradient(rgba(58, 1, 72, 0.9),rgba(9, 2, 62, 0.9)), url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  #hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    align-items: center;
    position: relative;
    .sign-wrapper {
      position: relative;
      max-width: 1200px;
      margin: 0 20px;
      //margin: 0 20px 130px;
      img {
        width: 100%;
        max-width: 800px;
        &.lights-on {
          position: absolute;
          opacity: 0.3;
          transition: opacity 0.5s ease-in-out;
        }
      }
    }

    .btn-wrapper {
      width: 100%;
          position: absolute;
          bottom: 0;
          max-width: 230px;
          margin: 0 auto 30px;
      .hero-btn {
        color: white;
        height: 50px;
        font-size: 1.8rem;
        background:  rgba(255, 0, 153, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-weight: 100;
        //margin: 0 auto 30px;
        box-shadow: #e7008f 0 0 17px, #ffffff 0 0 5px 0px;
        font-family: 'Pinyon Script', cursive;
        cursor: pointer;
        &:hover{
          background: rgba(255, 0, 153, 1);
        }
      }
    }
  }
  #bets{
    background: linear-gradient(45deg, rgba(45, 7, 72, 0.75), rgba(66, 17, 78, 0.75));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .ad{
      height: 90px;
      max-width: 728px;
      width: 100%;
      background: lightgrey;
      margin: 50px auto 0;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .container{
      max-width: 1400px;
      margin: 0 auto;
      display: flex;

      .bet-row{
        margin-bottom: 50px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        display: flex;
        flex-grow: 2;
        flex-direction: column;
        margin: 0;
        .col{
          color: white;
          width: 100%;
          flex: 1;
          padding: 50px 0;
          display: flex;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .text-block{
            text-align: center;
            margin: 0 20px;
            h1{
              font-size: 2rem;
              margin-bottom: 50px;
              letter-spacing: 2px;
              text-transform: uppercase;

            }
            p{
              font-size: 1.2rem;
              line-height: 1.5rem;
              letter-spacing: 1px;
              margin-bottom: 20px;
            }
          }

          .hero-btn{
            display: flex;
            height: 50px;
            /* width: 100%; */
            background: red;
            margin: auto auto 0;
            justify-content: center;
            width: 200px;
            align-items: center;
            &.all-in{
              margin-bottom: 20px;
            }
          }
        }
        .divider{
          width: 99%;
          margin: 0 auto;
          height: 3px;
          background: linear-gradient(45deg, transparent ,#ed0192, transparent);
          box-shadow: #ea0091 0 0 50px;
        }
      }
      &#bet-section{
        flex-grow: 1;
        align-items: center;
        //testing ipad
        position: relative;
        padding: 50px 0;
      }
    }
  }
}


@media only screen and (min-width: 1200px){
  #home{
    .col{
      padding: 30px !important;
    }
    .bet-row{
      flex-direction: row !important;
      height: auto;
    }
    .divider{
      height: auto !important;
      width: 3px !important;
      margin: 1% 0 !important;
    }
    .all-in{
      margin-bottom: 0 !important;
    }
  }
}
