.bet-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: flex;
  transition: opacity 0.5s ease-in-out;

  &.bet-modal-enter {
    opacity: 0;
  }

  &.bet-modal-enter-done {
    opacity: 1;
  }

  .modal-wrapper {
    max-width: 700px;
    width: 100%;
    margin: auto;

    .modal {
      height: 100%;
          background: #960127;
              margin: 50px 20px;
          padding: 20px;
          position: relative;
          border-radius: 10px;
          box-shadow: black 0 0 10px;
          border: rgb(143, 5, 24) solid 10px;
      .close-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0px 10px;
        font-size: 1.2rem;
        cursor: pointer;
      }
      h1{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
      }
      .divider{
        margin: 10px 20px;
        /* width: 100%; */
        height: 2px;
        background: linear-gradient(45deg, transparent, #1a043f, transparent);
      }
      form{
        .ui-label{
          display: none;
        }
        .ui-field-full {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 500px;
          margin: 0 auto;
          label{
            padding: 10px 10px 10px 0;
            flex-basis: calc(50% - 10px);
            display: flex;
            align-items: center;
            margin-right: 10px;
            justify-content: space-between;
            flex-direction: row-reverse;

            &:nth-child(odd){
              border-right: solid #1b043f 1px;
            }
          }
        }
      }
    }
  }
}