@import 'sass/reset';
@import 'sass/variables';
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  &.modal{
    overflow: hidden;
  }
}
html, body, #root {
    height: 100%;
    color: white;
}

#root{
  font-family: 'Montserrat', sans-serif !important;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  > div{
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 100%;
  }
}
