#dashboard{
  height: 100%;
  .sideboard{
    width: 300px;
    background: #231c2b;
    height: 100%;
    position: fixed;
    padding: 20px;
    text-align: center;
    background: linear-gradient(rgba(58, 1, 72, 0.9),rgba(9, 2, 62, 0.9)), url("/img/bg.png");
    background-position: center;
    box-shadow: #220445 0 0 10px 0px;
    h2{
      font-size: 1.5rem;
      padding-bottom: 20px;
      border-bottom: 1px white solid;
    }
    ul{
      margin: 20px 0px;
      text-shadow: white 0 0 2px;
      li{
        padding: 15px 0px;
        margin: 0 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background .5s ease-in-out;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        outline: none;
        &[aria-selected=true]{
          background: red !important;
        }
        &:hover{
          background: rgba(255, 255, 255, 0.1);
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
  }
  .dash-body{
    min-height: 100%;
    background: #f1f0f0;
    margin-left: 300px;
    margin-left: 300px;
    color: #555555;
    padding: 40px 40px;
  }
}
